<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
    <title>Data_List</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
   body {
    background-image: url(static/fon.jpg); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
   }
</style>
</head>
    <body>
        <form method="post">
            <button type="submit" class="btn">В Начало</button>
        </form>
    </body>
</html>